.parent {
  display:flex;
  flex-direction: column;
  /* align-items: stretch; */
  /* background-color: blue; */
  padding:20px;
}

.child1 {
  /* border:2px solid yellow; */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child2 {
  display: flex;
  /* flex-direction: row; */
  /* border:2px solid red; */
  height:100px;
  align-items: center;
}

.inchild1 {
  flex: 1;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
}

.inchild2 {
  flex: 1;
  display: flex;
  justify-content: center;
}
